Dissertation/ComputeAndroidApp/Web References/WorkOrderWS/WorkOrderSvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkOrderTrimmed">
    <xs:sequence>
      <xs:element name="_x003C_ApplicationId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_ApplicationUIResultIntent_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CommPackageJson_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ComputeAppIntent_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DeserialisationTime_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_DeviceId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DeviceLocalRequestId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DeviceUIRef_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ReceiveTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_SerialisationTime_x003E_k__BackingField" nillable="true" type="xs:decimal" />
      <xs:element name="_x003C_SlaveWorkOrderLastCommunication_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_SlaveWorkerId_x003E_k__BackingField" nillable="true" type="xs:int" />
      <xs:element name="_x003C_SlaveWorkerSubmit_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_WorkOrderId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_WorkOrderResultJson_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_WorkOrderStatus_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkOrderTrimmed" nillable="true" type="tns:WorkOrderTrimmed" />
</xs:schema>