Dissertation/TestApp/Service References/WorkOrderService/WorkOrderSvc4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCommPackage.ParamListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommPackage.ParamListItem" nillable="true" type="tns:CommPackage.ParamListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommPackage.ParamListItem" nillable="true" type="tns:ArrayOfCommPackage.ParamListItem" />
  <xs:complexType name="CommPackage.ParamListItem">
    <xs:sequence>
      <xs:element name="_x003C_ParameterName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ParameterValue_x003E_k__BackingField" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommPackage.ParamListItem" nillable="true" type="tns:CommPackage.ParamListItem" />
</xs:schema>