Dissertation/ComputeAndroidApp/Web References/UserWS/UserSvc0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://5ea3886cd21f45ca833b87a7bff02cd8.cloudapp.net/UserSvc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer" />
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="forename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="AddUserResult" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="forename" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceMemoryResource" type="xs:int" />
        <xs:element minOccurs="0" name="deviceProcRating" type="xs:int" />
        <xs:element minOccurs="0" name="gcmCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="AddUserDeviceResult" nillable="true" type="q2:UserDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDeviceNoGCMCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceMemoryResource" type="xs:int" />
        <xs:element minOccurs="0" name="deviceProcRating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserDeviceNoGCMCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessLayer" minOccurs="0" name="AddUserDeviceNoGCMCodeResult" nillable="true" type="q3:UserDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gcmCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyUserDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gcmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeviceIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTestNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTestNotificationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDeviceActive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDeviceActiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDeviceInactive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="at" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deviceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkDeviceInactiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>