Dissertation/ComputeAndroidApp/Web References/UserWS/UserSvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_Forename_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Surname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UserDevices_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUserDevice" />
      <xs:element name="_x003C_UserId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDevice" nillable="true" type="tns:UserDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDevice" nillable="true" type="tns:ArrayOfUserDevice" />
  <xs:complexType name="UserDevice">
    <xs:sequence>
      <xs:element name="_x003C_DeviceId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DeviceMemoryResource_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DeviceProcRating_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_DeviceType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_User_x003E_k__BackingField" nillable="true" type="tns:User" />
      <xs:element name="_x003C_Username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDevice" nillable="true" type="tns:UserDevice" />
</xs:schema>